# Environment
.env

# Dependencies
node_modules/

# Playwright Reports
playwright-report/
test-results/
blob-report/
playwright/.cache/
playwright/.auth/

# Logs
*.log
logs/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
out/

# TypeScript
*.tsbuildinfo